= simple_form_for(@corte) do |f|
  = f.error_notification

  .form-inputs
    = f.input :user_id
    -if current_user and current_user.has_role? :admin
      = f.input :fecha

  .form-actions
    = f.button :submit
