%h1 Lista de Gastos

%table.table.table-stripped.table-bordered
  %tr
    %th Compra
    %th Volumen
    %th Precio
    %th PU
    %th Fecha
    %th
    %th
    %th
  - for gasto in @gastos
    %tr
      %td
        =gasto.compra_id.to_s + "-" + gasto.compra.name
        -if !gasto.nota.blank?
          ='('+gasto.nota+')'
      %td= gasto.volumen
      %td= number_with_precision(gasto.precio, :precision => 2, delimiter: ',')
      %td= number_with_precision(gasto.precio/gasto.volumen, :precision => 2, delimiter: ',')
      %td= gasto.created_at.strftime('%d-%m-%Y')
      %td= link_to 'Show', gasto
      %td= link_to 'Edit', edit_gasto_path(gasto)
      %td= link_to 'Destroy', gasto, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Gasto", new_gasto_path
