%h2=number_to_currency(@saldo)
:javascript
  $(function () { 

  $('#chart').highcharts({
  chart: {
  zoomType: 'x',
  spacingRight: 20
  },
  title: {
  text: 'Ventas'
  },
  xAxis: {
  type: 'datetime',
  maxZoom: 14 * 24 * 3600000, // fourteen days
  title: {
  text: null
  }
  },
  yAxis: {
  title: {
  text: 'Dinero'
  }
  },
  tooltip: {
  shared: true
  },
  legend: {
  enabled: false
  },
  plotOptions: {
  area: {
  fillColor: {
  linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
  stops: [
  [0, Highcharts.getOptions().colors[0]],
  [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
  ]
  },
  lineWidth: 1,
  marker: {
  enabled: false
  },
  shadow: false,
  states: {
  hover: {
  lineWidth: 1
  }
  },
  threshold: null
  }
  },
  
  series: [{
  type: 'area',
  name: 'Ventas',
  pointInterval: 24 * 3600 * 1000,
  pointStart: Date.UTC(#{@ffirst.year}, #{@ffirst.month-1}, #{@ffirst.day}),
  data: [#{@ventas_totales.join(', ')}]
  },{
  type: 'area',
  name: 'Gastos',
  pointInterval: 24 * 3600 * 1000,
  pointStart: Date.UTC(#{@ffirst.year}, #{@ffirst.month-1}, #{@ffirst.day}),
  data: [#{@gastos_totales.join(', ')}]
  }]
  });
  $('#chart2').highcharts({
  chart: {
  zoomType: 'x',
  spacingRight: 20
  },
  title: {
  text: 'Pollos'
  },
  xAxis: {
  type: 'datetime',
  maxZoom: 14 * 24 * 3600000, // fourteen days
  title: {
  text: null
  }
  },
  yAxis: {
  title: {
  text: 'Pollos Vendidos'
  }
  },
  tooltip: {
  shared: true
  },
  legend: {
  enabled: false
  },
  plotOptions: {
  area: {
  fillColor: {
  linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
  stops: [
  [0, Highcharts.getOptions().colors[0]],
  [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
  ]
  },
  lineWidth: 1,
  marker: {
  enabled: false
  },
  shadow: false,
  states: {
  hover: {
  lineWidth: 1
  }
  },
  threshold: null
  }
  },
  
  series: [{
  type: 'area',
  name: 'Pollos',
  pointInterval: 24 * 3600 * 1000,
  pointStart: Date.UTC(#{@ffirst.year}, #{@ffirst.month-1}, #{@ffirst.day}),
  data: [#{@pollos.join(', ')}]
  }]
  });
  });

#chart
#chart2
%h3 Cortes
%table.table
  %tr
    %th Día
    %th Ventas
    %th Gastos
    %th Caja

  -@flast.upto(@ffirst).each  do |date|
    -cortes = @cortes.where('date(fecha) = ?', date)
    %tr
      %td
        -cortes.each do |corte|
          =link_to(date.strftime("%A") + " - " +  date.strftime("%d/%m/%Y"), corte)
          %br
      %td
        -cortes.each do |corte|
          =number_to_currency corte.total_venta
          %br
      %td
        -cortes.each do |corte|
          =number_to_currency corte.total_gastos
          %br
      %td
        -cortes.each do |corte|
          =number_to_currency corte.caja
          %br



  -@cortes.each do |corte|
    %tr
      %td=link_to corte.created_at.strftime("%d/%m/%Y %H:%M"), corte
      %td=number_to_currency corte.total_venta
      %td=number_to_currency corte.total_gastos
      %td=number_to_currency corte.caja

  %tr
    %th
    %th=number_to_currency @cortes.sum(:total_venta)
    %th=number_to_currency @cortes.sum(:total_gastos)
    %th


%h3 Gastos
%table.table
  %tr
    %th Día
    %th Gasto
    %th Precio
    %th Volumen


  - @gastos.each do |gasto|
    %tr
      %td=link_to gasto.created_at.strftime("%d/%m/%Y %H:%M"), gasto
      %td
        =gasto.compra.name
        %small="("+gasto.nota+")" unless gasto.nota.blank?
      %td=number_to_currency gasto.precio
      %td
        =gasto.volumen
        =gasto.compra.medida

  %tr
    %th
    %th=number_to_currency @gastos.sum(:precio)
